<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TriCheio</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header id="header">
        <div class="content">
            <nav>
                <ul>
                    <li><p><a href="localhost:3000">
                    <img border="0" alt="TriCheio" src="images/TriCheioLogo.png">
                    </a></p></li>
                </ul>
            </nav>
            <form class="side" action="/loginPage" method="get">
                <button type="submit">Login</button>
            </form>
        </div>
    </header>

    {{{body}}}

    <footer>
	<div class="content">
		<p><b>TriCheio ©</b> 2021 - Todos os direitos reservados</p>
		<ul>
			<li>Direitos autorais</li>
			<li>Termos de uso</li>
			<li>Política de privacidade</li>
			<li>Consulta de certificados</li>
		</ul>
	</div>
</footer>
</body>
</html>