<section id="admin_register">
    <div class="content">
        <script src="script/admin_register.js" defer></script>  
        <div class="shselect">
            <h2>Qual você deseja adicionar?</h2>
            <button id="addHotelBtn">Hotel</button>
            <button id="addSiteBtn">Site</button>
        </div>
    </div>
</section>