<section id="introduction">
	<div class="content"> 
		<img src="images/globo.png">
		<div class="container">
			<h2>Viage para todo o MUNDO com Tricheio!!!</h2>
			<h3>Dubai, Disney, Paris, Sidney, Lisboa e muito mais!</h3>
			<h4>A plataforma esta cheia de novas oportidades para você</h4> 
		</div>
	</div>
</section>

<section id="promotions">
	<div class="content">
		<div class="container">
			<h2>Escolha a sua rota:</h2>
			<form action="/list" method="POST">
				<table style="width:100%">
					<th>
						<p> Local: </p>
						<input type="text" name="local"> </th>
					<th>
						<p> ida: </p>
						<input type="date" name="going_date"> </th>
					<th>
						<p> Volta: </p>
						<input type="date" name="return_date"> </th>
					<th>
						<button type="submit">IR </button>
					</th>
				</table>
			</form>
		</div> 
        
        <img src="images/plane.png"> 
    </div>
</section>

