<section id="hotel_list">
    <div class="content">
        <table>
            <tr>
                <th>Nome do hotel</th>
                <th>Dia do Check In</th>
                <th>Dia do Check Out</th>
                <th>Editar/Comprar</th>
            </tr>
            <tr>
                <td>California</td>
                <td>28/05/21</td>
                <td>30/05/21</td>
                <td>Editar.ico</td>
            </tr>
            <tr>
                <td>Hilbert</td>
                <td>28/05/21</td>
                <td>30/05/21</td>
                <td>Editar.ico</td>
            </tr>
            <tr>
                <td>Caiçaras</td>
                <td>28/05/21</td>
                <td>30/05/21</td>
                <td>Editar.ico</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>28/05/21</td>
                <td>30/05/21</td>
                <td>Editar.ico</td>
            </tr>
            <tr>
                <td>Bron</td>
                <td>28/05/21</td>
                <td>30/05/21</td>
                <td>Editar.ico</td>
            </tr>
            <tr>
                <td>Sunrise</td>
                <td>28/05/21</td>
                <td>30/05/21</td>
                <td>
                    <form action="/promo_register" method="POST">
                        <button type="submit">BUY/REGISTER/EDIT (PLACEHOLDER)</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</section>

<section id = "hotel_list_placeholder_admin_button">
    <div>
        <form action="/admin_register" method="POST">
            <button type="submit">REGISTER SITE/HOTEL (PLACEHOLDER)</button>
        </form>
    </div>
</section>