<section id="promo_register">
    <div class="content">
        <form action="/" method="POST">
            <table style="width:100%">
                <th>
                    <p> URL: </p>
                    <input type="text" name="url">
                </th>
                <th>
                    <p> Hotel: </p>
                    <input type="text" name="hotel">
                </th>
                <th>
                    <p> CheckIn Date: </p>
                    <input type="date" name="indate">
                </th>
                <th>
                    <p> CheckOut Date: </p>
                    <input type="date" name="outdate">
                </th>
                <th>
                    <p> Preço: </p>
                    <input type="text" name="price">
                </th>
                <th>
                    <button type="submit">Register</button>
                </th>
            </table>          
        </form>
    </div>
</section>