footer .content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 0px;
  color: #888888;
  
  height: 50px;
  position: absolute;
  bottom: 0px;
}

footer .content ul {
  list-style: none;
  display:flex;
}

footer .content ul li {
  margin: 0 10px;
}
